html {
  font-size: 62.5%;
  // padding-bottom: 20px;
  font-size: 1.5rem;
  // line-height: 1.5rem;
  // background-color: black;
}

.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  width: 80%;
}

h1, h2, p {
  margin: 0;
}


